<div>
  <app-header></app-header>
</div>

<h1 class="d-flex justify-content-center mt-5" style="margin-top: 100%; margin-bottom: 5%; color: #ffffff;">Información Usuario</h1>

<div class="menu-container" style="height: 500px;">
  <form action="">
    <div class="container d-flex justify-content-center" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; height: 100%; margin-top: 25%;"> <!-- div grande -->
      <div class="input-group mb-3" style="width: 300px; height: 40px; margin: 20px;">
        <span class="input-group-text" style="background-color: #161B45; color: white;"><i class="fa-solid fa-user"></i></span>
        <input type="text" name="username" id="inputusername" class="form-control" [(ngModel)]="userData.username" (input)="validate()" required autofocus>
      </div>
      <div class="input-group mb-3" style="width: 300px; height: 40px; margin: 20px;">
        <span class="input-group-text" style="background-color: #161B45; color: white;"><i class="fa-solid fa-envelope"></i></span>
        <input type="email" name="email" id="inputemail" class="form-control" [(ngModel)]="userData.email" (input)="validate()" required autofocus>
      </div>
      <div class="input-group mb-3" style="width: 300px; height: 40px; margin: 20px;">
        <span class="input-group-text" style="background-color: #161B45; color: white;"><i class="fa-solid fa-lock"></i></span>
        <input type="contraseña" name="contraseña" id="inputcontraseña" class="form-control" [(ngModel)]="userData.password" (input)="validate()" required autofocus>
      </div>
    </div> <!-- div grande -->
    <div class="error-message" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div>
      <div style="display: grid; grid-template-columns: repeat(2, auto); gap: 60%; margin-top: 10%; margin-bottom: 15%">
        <div>
          <i (click)="deleteUser();" class="fa-solid fa-trash" style="color: #ff0000; font-size: 300%; margin-left: 23%;"></i>
          <p style="color: #ffffff; font-size: 120%; pointer-events: none;">Eliminar Usuario</p>
        </div>
        <div>
          <i (click)="updateUser();" class="fa-solid fa-screwdriver-wrench" style="color: #ffffff; font-size: 300%; margin-left: 27%;"></i>
          <p style="color: #ffffff; font-size: 120%; pointer-events: none; margin: 0;">Modificar Usuario</p>
        </div>
      </div>
    </div>
  </form>
</div>
