<div class="menu-containerNotification">
  <i (click)="authService.closeNotification()" class="fa-solid fa-x close-icon"></i>
  <div class="header">
    <i class="fa-solid fa-bell bell-icon"></i>
    <h1>Notificación medicamento</h1>
  </div>
  <div class="content">
    <div class="input-groupM">
      <input type="text" name="nombre" id="inputnombre" class="form-control" [value]="this.authService.getNombre()" readonly>
    </div>
    <div class="input-groupM">
      <input type="text" name="dosis" id="inputdosis" class="form-control" [value]="this.authService.getDosis()" readonly>
    </div>
    <div class="input-groupM">
      <input type="text" name="hora" id="inputhora" class="form-control" [value]="this.authService.gethoraMed()" readonly>
    </div>
    <div class="input-groupM">
      <input type="text" name="notas" id="inputnotas" class="form-control" [value]="this.authService.getnota()" readonly>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-primary" type="submit" (click)="authService.closeNotification()">Aceptar</button>
  </div>
</div>
