<app-header></app-header>

<h1 class="d-flex justify-content-center mt-5" style="margin-top: 50px; margin-bottom: 50px; color: #ffffff;"> Añadir Medicamento </h1>

<div class="menu-container" style="height: 600px; width: 1000px;">
  <form action="" method="post" #formRegisterMed="ngForm" id="formRegisterMed" (ngSubmit)="onRegisterMed(formRegisterMed)">
    <div class="inputs-registerMed" style="width: 300px; height: 40px;">
      <div style="margin-bottom: 60px; margin-left: 25px;">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre del Medicamento" class="form-control" [(ngModel)]="nombre" (input)="validate()" ngModel required autofocus required>
      </div>
      <div style="margin-bottom: 60px; margin-left: 25px;">
        <input type="number" name="dosis" id="dosis" placeholder="Dosis" class="form-control" [(ngModel)]="dosis" (input)="validate()" ngModel min="0" required >
      </div>
      <div style="margin-bottom: 60px; margin-left: 25px;">
        <input type="number" name="frecuenciaDosis" id="frecuenciaDosis" placeholder="Frecuencia de dosificación(horas)" class="form-control" [(ngModel)]="frecuenciaDosis" (input)="validate()" ngModel min="0" required >
      </div>
      <div style="margin-bottom: 60px; margin-left: 25px;">
        <input type="datetime-local" name="fechaInicio" id="fechaInicio" class="form-control" [(ngModel)]="fechaInicio" (input)="validate()" ngModel required>
      </div>
      <div style="margin-bottom: 60px; margin-left: 25px;">
        <input type="number" name="duracion" id="duracion" placeholder="Duración del tratamiento(Días)" class="form-control" [(ngModel)]="duracion" (input)="validate()" ngModel min="0" required>
      </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: flex-end;">
      <h5 style="margin-top: -35px; margin-left: 300px; color: #ffffff;">Horario</h5>

      <div style="margin-top: -33px; margin-left: 100px; color: #ffffff;">
        <input class="form-check-input" name="maniana"  type="checkbox" id="maniana" [(ngModel)]="maniana" (change)="verificandoHorario()">
        <label class="form-check-label" style="margin-left: 10px;" for="flexCheckChecked1">
            Mañana
        </label>
      </div>
      <div style="margin-top: -33px; margin-left: 100px; color: #ffffff;">
        <input class="form-check-input" name="tarde" type="checkbox" id="tarde" [(ngModel)]="tarde" (change)="verificandoHorario()">
        <label class="form-check-label" style="margin-left: 10px;" for="flexCheckChecked2" >
            Tarde
        </label>
      </div>
      <div style="margin-top: -33px; margin-left: 100px; color: #ffffff;">
        <input class="form-check-input" name="noche" type="checkbox" id="noche" [(ngModel)]="noche" (change)="verificandoHorario()">
        <label class="form-check-label" style="margin-left: 10px;" for="flexCheckChecked3" >
            Noche
        </label>
      </div>
    </div>

    <div>
      <div>
        <h5 style="margin-top: 62px; margin-left: 300px; color: #ffffff;">Tipo de Medicamento</h5>
      </div>
      <div style="margin-top: -30px; margin-left: 555px; color: #ffffff;">
        <input type="radio" id="capsula" name="tipoMedicamento" (change)="verificandoTipoMedicamento('Cápsula')">
        <label class="form-check-label" style="margin-left: 10px; margin-right: 40px;" for="capsula">
            Cápsula
        </label>
        <input type="radio" id="jarabe" name="tipoMedicamento" (change)="verificandoTipoMedicamento('Jarabe')">
        <label class="form-check-label" style="margin-left: 10px; margin-right: 40px;" for="jarabe">
            Jarabe
        </label>
        <input type="radio" id="otro" name="tipoMedicamento" (change)="verificandoTipoMedicamento('Otro')">
        <label class="form-check-label" style="margin-left: 10px; margin-right: 40px;" for="otro">
            Otro
        </label>
      </div>
    </div>

    <div>
      <div>
        <h5 style="margin-top: 62px; margin-left: 300px; color: #ffffff;">Notas: </h5>
      </div>
      <div style="width: 600px;  margin-left: 300px;">
        <textarea name="notas" id="notas" class="form-control" [(ngModel)]="notas" (input)="validate()" required autofocus style="height: 150px;"></textarea>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 50px; margin-bottom: 10px; width: 215px; margin-left: 400px; background-color: #183DFC;"  >Guardar</button>
      </div>
    </div>
  </form>
</div>
