<section>
  <form action="">
    <h1 class="d-flex justify-content-center mt-5" style="margin-top: 50px;">Inicio</h1>
    <div class="container d-flex justify-content-center"> <!-- div grande -->
      <form action="" method="post" #formLogin="ngForm" id="formLogin" action="" (ngSubmit)="onLogin(formLogin)"  class="mx-auto">
        <div class="input-group mb-3" >
          <span class="input-group-text" style="background-color: #4b4c8f;"><i class="fa-solid fa-user"></i></span>
          <input type="username" name="username" id="inputusername" class="form-control" placeholder="Usuario" ngModel required autofocus>
      </div>
        <div class="input-group mb-3">
          <span class="input-group-text" style="background-color: #4b4c8f;"><i class="fa-solid fa-lock"></i></span>
          <input type="password" name="password" id="inputpassword" class="form-control" placeholder="Contraseña" ngModel required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
                <div>
                    <div class="alert alert-danger mt-3" style="color:red">Fallo en iniciar sesión!</div>
                </div>
                <div class="mt-3">
                  <p style="color: rgb(255, 255, 255);">No tengo una cuenta </p>
                </div>
      </form>
    </div> <!-- div grande -->
  </form>

</section>
