body {
  background-color: #000C49 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.menu-container {
  position: relative;
  max-width: 1300px;
  background-color: #061175;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

app-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #061175;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
}

.center-iconHeader {
  flex-grow: 1;
  text-align: center;
}

.inputs-registerMed{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -30px;
  margin-top: -20px;
}

.inputs-betweenRegister{
  margin-bottom: 20px;
}
