<div>
    <app-header></app-header>
</div>

<h1 class="d-flex justify-content-center mt-5" style="margin-top: 100%; margin-bottom: 5%; color: #ffffff;">Ayuda y Soporte</h1>
<div class="contenedor-tutoriales">
  <div class="tutorial-container justify-content: center" [ngClass]="{ 'active': tutorial1Visible }">
    <button class="tutorial-button" (click)="toggleTutorial1()">
      ¿Cómo eliminar un medicamento?
      <span class="toggle-icon">{{ tutorial1Visible ? '(-)' : '(+)' }}</span>
    </button>
    <div class="tutorial-content">
      <p>Ve a la sección de ver medicamentos, allí veras un basurero rojo, dale click en el medicamento respectivo que quieres eliminar y listo!</p>
    </div>
  </div>

  <div class="tutorial-container" [ngClass]="{ 'active': tutorial2Visible }">
    <button class="tutorial-button" (click)="toggleTutorial2()">
      ¿Cómo modificar mi contraseña?
      <span class="toggle-icon">{{ tutorial2Visible ? '(-)' : '(+)' }}</span>
    </button>
    <div class="tutorial-content">
      <p>Ve a la sección de Perfil Usuario, allí veras toda la información de tu cuenta, edita la nueva contraseña que deseas y da click en icono de Modificar Usuario y listo!</p>
    </div>
  </div>

  <div class="tutorial-container" [ngClass]="{ 'active': tutorial3Visible }">
    <button class="tutorial-button" (click)="toggleTutorial3()">
      ¿Cómo eliminar mi usuario?
      <span class="toggle-icon">{{ tutorial3Visible ? '(-)' : '(+)' }}</span>
    </button>
    <div class="tutorial-content">
      <p>Ve a la sección de Perfil Usuario, allí encontrarás toda la información de tu cuenta, da click en el icono de Eliminar Usuario y listo!</p>
    </div>
  </div>
</div>

<div class="chat-container">
  <div class="chat-messages">
      <!-- Aquí se mostrarían los mensajes del chat -->
      <div class="message user-message">
          <div class="message-header">Usuario:</div>
          <div class="message-content">¡Hola! Necesito Ayuda!</div>
      </div>
      <div class="message assistant-message">
          <!--<div class="message-header">Asistente:</div> -->
          <div class="message-content">Hola, envianos un correo con tu duda, estaremos encantados de ayudarte!</div>
      </div>
      <!-- Agrega más mensajes aquí -->
  </div>
  <div class="chat-input">
      <input type="text" placeholder="Escriba su mensaje..." [(ngModel)]="mensaje">
      <button (click)="enviarMensaje()">Enviar</button>
  </div>
</div>

